* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("Assets/pexels-michael-burrows-7129052.jpg");
  background-size: cover;
  background-position: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  padding-right: 20px;
}
.icon > img {
  background-color: white;
  border-radius: 50%;
}
.icon {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 40px;
}
nav {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 80px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  font-style: italic;
  /* border: 2px solid salmon; */
}
.navtext {
  font-size: 16px;
}
.sign {
  display: flex;
  align-items: center;
  gap: 20px;
}
.text {
  width: 30vw;
  line-height: 40px;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  color: black;
  border: 2px solid grey;
  height: 68vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b2c8e5;

  
  opacity: 100%;
  gap: 20px;
  /* border: 2px solid salmon; */
}
.text > img {
  height: 25vh;
  width: 30vw;
  border-top: 20px;
}
button > a {
  text-decoration: none;
}
.sign_btn,
.login_btn {
  height: 8vh;
  width: 8vw;
  font-weight: bold;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  background-color: #b2c8e5;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px solid grey;
  border-radius: 10px;
  height: 50vh;
  width: 30vw;
  font-size: 20px;
  background-color: white;
  opacity: 70%;
}
.form > p,
.forms > p {
  font-size: 20px;
  display: flex;
  /* color: white; */
  font-weight: bold;
}
input {
  height: 5vh;
  width: 25vw;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  border: none;
  border: 2px solid grey;
}
.login,
.signin {
  margin-top: 10px;
  height: 8vh;
  width: 10vw;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  background-color: #b2c8e5;
}

/* SIGNUP */
.forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  border: 2px solid grey;
  border-radius: 10px;
  height: 61vh;
  width: 30vw;
  font-size: 20px;
  margin-right: 50px;
  background-color: white;
  opacity: 80%;
  padding: 20px;
}
